= render "shared/header"

.profile
  .profile__gray
    .profile__gray__left-sidebar
      = render 'shared/sidebar'
    .profile__gray__contents
      %h2.profile__gray__contents__title プロフィール
      .profile__gray__contents__background
        =image_tag 'face-icon.png',size: "60x60",class: "profile__gray__contents__background__image"
        %input{ type: "text", name: "", class: :"profile__gray__contents__background__input" }
      .profile__gray__contents__introduction
        %textarea{ type: "text", placeholder: "ユーザーの自己紹介文", name: "", class: :"profile__gray__contents__introduction__textarea"} 
        %button.profile__gray__contents__introduction__btn 変更する

= render "shared/footer"
