- @items.each do |item|
  .show_item__right__tab1__inner
    .show_item__right__tab1__inner__image
      %p8= image_tag "#{item.image}", width: "60", height: "60"

    .show_item__right__tab1__inner__product
      = link_to "#{item.name}", edit_item_path(item.id)
