*,::before,::after {
  border-style: solid;
  border-width: 0;
}

.clearfix:after {
  content: '';
  display: block;
  clear:both;
}


// スライド部分のCSS

.slider {
  margin: 10px auto;
  width: 100vw;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 400px;
  }
}

.slick-initialized {
  margin: -10px;
}

.slick-slide {
  width: 100%;
}

// メインコンテンツ部分

.main-contents {
  padding: 40px 0 ;
  background-color: #f5f5f5;

  h2 {
    font-size: 28px;
    text-align: center;
  }
}

.main-all {
  padding: 20px 0 30px;
  width: 99.5%;
  text-align: right;
    
  a {
    color: #0099e8;
    font-size: 15px;
  }
}

.main-box__container {
  width: 940px;
  margin: 0 auto;

  h3 {
    font-size: 22px;
    margin: 26px 11px;
    text-align: center;

    a {
      color: #0099e8;
    }
  }
}


.main-box-content {
    width: auto;
    margin: 0 auto;

  .item-content {
    margin: 0 0 0 20px;
    width: 213px;
    float: left;
    position: relative;
    background-color: #fff;


    a {
      display: block;
      color: #333;

      figure {

        img {
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
        }
      }
    }
  }
}

.item-content-body {
  padding: 16px;
  height: 110px;
    
  h3 {
    font-size: 16px;
    color: #333;

    &__name {
      overflow: hidden;
      position: relative;
      font-weight: 400;
      height: 3em;
      line-height: 1.5;
      word-break: break-word;
      white-space: normal;
    }
  }
}

.item-content-body__num {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 8px 0 0 ;

  &__price {
    font-size: 17px;
  }
}

.item-content-body__num__tax {
  font-size: 10px;
}


.sell-btn {
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  z-index: 1000;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 50%;

  &__lang {
    margin: 32px 0 0;
  }
}

.fa-camera {
  margin: 8px 0 0;
  font-size: 54px;
  background-color: red;
}

// パンくず用
.bread{
  width:100%;
  display: flex;
  border-top: 1px solid #eee;
  background: #fff;
  border-bottom:#DDDDDD 3px solid;
  &__inner{
    width:980px;
    margin:0 auto;
    padding:16px 0;
    font-size:14px;
  }
}
.bread a{
  color:black;
}
.sidebar a{
  color:black;
}
.mypage__user-page__main a{
  color:black;
}
.show_item__right a{
  color:#0033CC;
}
.fa-chevron-right{
margin: 0 8px;
font-size: 9px;
color: #888;
}
.current{
  font-weight: 600;
}