
.progress-status-2{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #ccc;
  border-radius: 50%;
}

  .progress-status-2::before{
    content: '';
    position: absolute;
    display: block;
    background: #ccc;
    width: 180%;
    height: 2px;
    bottom: 5px;
  }
  
.done .progress-status-2::before {
  left: 50%;
  background: red;
}
//会員情報〜電話番号認証間のラインを赤くする

#red-2.progress-status-2{
  background: red;
}

.finish .progress-status-2::before{
  right: 50%;
}
//"完了"から右側に伸びる線を整える。


    .member-info-main{
      width: 700px;
      margin: 0 auto;
      &__top{
        background-color: #fff;
        &__text{
          font-size: 24px;
          padding: 8px 24px;
          font-size: 24px;
          padding: 8px 24px;
          font-weight: bold;
          max-width: 320px;
          margin: 0 auto;
        &__input{
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
      }
    }
  }
}

.member-info__center{
  border-top: 1px solid #f5f5f5;
  padding: 64px;
  background-color:white;
  text-align:initial;
  &__content{
    max-width: 320px;
    margin: 0 auto;
    &__form{
      margin:0;
      &__text{
        font-size: 16px;
        font-weight: bold;
      }
    &__input{
      width: 100%;
      margin: 8px 0 0;
      height: 38px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      line-height: 38px;
      font-size: 16px;
      }
    &__simple{
      margin: 8px 0 0;
      line-height: 1.5;
    }
    &__send{
      margin: 40px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
    }
    &__bottom-right{
      margin: 40px 0 0;
      text-align: right;
      color:#0099e8;
    }
      .fa-chevron-right:before{
      color:#0099e8;
    }
      }
     }
    }
  

