.progress-status{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #888;
  border-radius: 50%;
  z-index: 8;
  &__end{
    width: 12px;
    height: 12px;
    margin: 8px auto 0;
    background: red;
    border-radius: 50%;
    z-index: 8;
  }
}

.progress-status::before{
  content: '';
  position: absolute;
  display: block;
  background: #888;
  width: 180%;
  height: 2px;
  z-index: 2;
  bottom: 5px;
}

#red-5.progress-status{
  background: red;
}
//○を赤くする

.progress-status::before {
background: red;
}
//線を赤くする

.member-info-main__center{
  width: 700px;
  margin: 0 auto;
  text-align:center;
  border-top: 1px solid #f5f5f5;
    &__content{
      background-color:white;
      max-width: 320px;
      margin: 0 auto;
      &__form{
        margin:0;
        &__text{
        margin: 8px 0 0;
        line-height: 1.5;
        list-style:none;
        font-size:16px;
      }
    }
  }
}

#member-info-main__center__content__form__input{
  margin: 40px 0 0;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}