%main.white
  %ul.slider
    %li
      %a{:href => "#"}
        =image_tag 'hwi.jpeg', size: '1900×500'

  %section.main-contents
    %h2 ピックアップカテゴリー
    %section.main-box__container
      %h3.main-box__container__text
        %a{href: 'https://www.mercari.com/jp/category/1/'} レディース新着アイテム
      .main-box-content
        %section.item-content
          %a{href: 'https://item.mercari.com/jp/m27278690533/'}
            %figure.item-content__photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m27278690533_1.jpg?1555391521', {data: {src: 'https://item.mercari.com/jp/m27278690533/'}}
            .item-content-body
              %h3.item-content-body__name  財布
              .item-content-body__num
                .item-content-body__num__price ¥ 25,000
                .item-content-body__num__icon
                  %i.far.fa-heart
                  %span 2
              %p.item-content-body__num__tax （税込）

        %section.item-content
          %a{href: 'https://item.mercari.com/jp/m27278690533/'}
            %figure.item-content__photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m27278690533_1.jpg?1555391521', {data: {src: 'https://item.mercari.com/jp/m27278690533/'}}
            .item-content-body
              %h3.item-content-body__name  財布
              .item-content-body__num
                .item-content-body__num__price ¥ 25,000
                .item-content-body__num__icon
                  %i.far.fa-heart
                  %span 2
              %p.item-content-body__num__tax （税込）

        %section.item-content
          %a{href: 'https://item.mercari.com/jp/m27278690533/'}
            %figure.item-content__photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m27278690533_1.jpg?1555391521', {data: {src: 'https://item.mercari.com/jp/m27278690533/'}}
            .item-content-body
              %h3.item-content-body__name  財布
              .item-content-body__num
                .item-content-body__num__price ¥ 25,000
                .item-content-body__num__icon
                  %i.far.fa-heart
                  %span 2
              %p.item-content-body__num__tax （税込）

        %section.item-content
          %a{href: 'https://item.mercari.com/jp/m27278690533/'}
            %figure.item-content__photo
              =image_tag 'https://static.mercdn.net/thumb/photos/m27278690533_1.jpg?1555391521', {data: {src: 'https://item.mercari.com/jp/m27278690533/'}}
            .item-content-body
              %h3.item-content-body__name  財布
              .item-content-body__num
                .item-content-body__num__price ¥ 25,000
                .item-content-body__num__icon
                  %i.far.fa-heart
                  %span 2
              %p.item-content-body__num__tax （税込）
            .main-all
              %a{hred: 'https://www.mercari.com/jp/category/1/'} すべての商品をみる