.slick-container
  %ul.slider
    %li
      = link_to 'https://www.mercari.com/jp/featured/newlife/' do
        =image_tag 'mer.jpeg'
    %li
      = link_to 'https://www.mercari.com/jp/promotion/201812_bokurano_heisei/' do
        =image_tag 'ounen.jpeg'
        
%section.main-contents
  %h2 ピックアップカテゴリー
  %section.main-box__container.clearfix
    %h3.main-box__container__text
      =link_to'レディース新着アイテム', '#' 
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      =link_to'メンズ新着アイテム', '#' 
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      =link_to'ベビーキッズ新着アイテム', '#' 
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      =link_to'コスメ・香水・美容新着アイテム', '#' 
    =render 'products/products'

%section.main-contents
  %h2 ピックアップブランド
  %section.main-box__container
    %h3.main-box__container__text
      =link_to'シャネル新着アイテム', '#' 
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      =link_to'ルイヴィトン新着アイテム', '#' 
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      =link_to'シュプリーム新着アイテム', '#' 
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      =link_to'ナイキ新着アイテム', '#' 
    =render 'products/products'


=link_to 'https://www.mercari.com/jp/sell/', {class: 'sell-btn'} 
  .sell-btn__lang 
  出品
  %br>/
  %i.fas.fa-camera

