.slick-container
  %ul.slider
    %li
      %a{href: '#'}
        =image_tag 'mer.jpeg', size: '1900×600'
    %li
      %a{href: '#'}
        =image_tag 'ounen.jpeg'
        
%section.main-contents
  %h2 ピックアップカテゴリー
  %section.main-box__container.clearfix
    %h3.main-box__container__text
      %a{href: 'https://www.mercari.com/jp/category/1/'} レディース新着アイテム
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      %a{href: 'https://www.mercari.com/jp/category/1/'} メンズ新着アイテム
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      %a{href: 'https://www.mercari.com/jp/category/1/'} ベビーキッズ新着アイテム
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      %a{href: 'https://www.mercari.com/jp/category/1/'} コスメ・香水・美容新着アイテム
    =render 'products/products'

%section.main-contents
  %h2 ピックアップブランド
  %section.main-box__container
    %h3.main-box__container__text
      %a{href: 'https://www.mercari.com/jp/category/1/'} シャネル新着アイテム
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      %a{href: 'https://www.mercari.com/jp/category/1/'} ルイヴィトン新着アイテム
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      %a{href: 'https://www.mercari.com/jp/category/1/'} シュプリーム新着アイテム
    =render 'products/products'

  %section.main-box__container.clearfix
    %h3.main-box__container__text
      %a{href: 'https://www.mercari.com/jp/category/1/'} ナイキ新着アイテム
    =render 'products/products'


%a.sell-btn{href: 'https://www.mercari.com/jp/sell/'} 
  %div 
  出品
  %br>/
  %i.fas.fa-camera

