.default-container
  %header.sp-header.visible-sp
    .sp-header-inner
      %h1.logo
        %a{href: '#'}
          = image_tag 'mercari_logo_horizontal.png', size: "134x36", alt: 'mercari', class: 'input-dfault'
      -# = form_with scope: :post, url: '' do |f|
      -#   = f.text_field: